.wishlist-container {
  width: 80%;
  margin: 40px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  position: fixed
}

.wishlist-item {
  border-bottom: 1px solid #eee;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s;
}

.wishlist-item:last-child {
  border-bottom: none;
}

.wishlist-item:hover {
  background-color: #f5f5f5;
}

.details {
  flex-grow: 1;
  margin-right: 15px;
}

.details h3 {
  margin: 0 0 5px;
  color: #333;
  font-size: 18px;
}

.details p {
  margin: 0;
  color: #666;
}

.actions button {
  margin-left: 10px;
  border: none;
  outline: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.actions button:hover {
  opacity: 0.9;
}

/* Style for the Ant Design components (if needed) */
.ant-btn-primary {
  background-color: #1890ff;
  border-color: #1890ff;
  color: #fff;
}

.ant-btn-danger {
  background-color: #ff4d4f;
  border-color: #ff4d4f;
  gap:'5px'
}
